.App {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 30%;
}

.menu {
  background-color: #3d96ef;
}

nav {

}

nav ul {
  display: flex;

  align-items: center;
}

.menu li {
  list-style: none;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 15px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
